<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>

<div id="search">
  <form action="/search.html" method="get">
    <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off" class="form-control">
  </form>
</div>

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/js/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>
